<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
  
      <title>Sastra</title>
  
      <!-- Bootstrap core CSS -->
      <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
      <!-- Custom fonts for this template -->
      <link href="/vendor/icomoon/style.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Catamaran|Muli:400,800|Poppins:400,500,600" rel="stylesheet">
  
      <link rel="stylesheet" href="/vendor/owl/owl.carousel.min.css">
      <link rel="stylesheet" href="/vendor/owl/owl.theme.default.min.css">
  
      <link href="/vendor/select2/select2.min.css" rel="stylesheet" />
  
      
      <!-- Custom styles for this template -->
      <link href="/css/sastra.css" rel="stylesheet">
  


  </head>
  <body id="page-top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="container">
            <!-- <a class="navbar-brand js-scroll-trigger" href="/" ><img src="/img/sastra-logo.png" alt="sastra-logo"></a> -->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <i class="icon-th"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/users/mytransaction">Payment History</a>
                </li>
             
               
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/users/moneytransfer">Transffer now</a>
                  </li>
                <li class="nav-item btnLink">
                  <a class="nav-link js-scroll-trigger" href="/logout">SIGN OUT</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>



    {% block content %}
    {% endblock %}
     <!-- Bootstrap core JavaScript -->
     <script src="/vendor/jquery/jquery.min.js"></script>
     <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
     <!-- Plugin JavaScript -->
     <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
 
     <script src="/vendor/owl/owl.carousel.min.js"></script>
 
     <script src="/vendor/select2/select2.min.js"></script>
 
     <!-- Custom scripts for this template -->
     <script src="/js/sastra.js"></script>
    
    
    </section>
  </body>
</html>